<!DOCTYPE html>
<html lang="en">
	<head>
	<title>Escape Vape</title>
	<link
      href="/bower_components/bootstrap/dist/css/bootstrap.css"
      rel="stylesheet"
    />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
    <link href="/css/style.css" rel="stylesheet" />
	<link rel="icon" type="image/png" href="/images/escapevape.png" />
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		  <a class="navbar-brand" href="/">EscapeVape</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarsExample04">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <%if(typeof user!= 'undefined'){%>
		      <li class="nav-item active">
		      	<a class = "nav-link" href="/users/log">Your Log</a></li>
		      	<li class="nav-item">
		      		<li class="nav-item">
		      	<a class="nav-link" href="/lifeline">Lifeline</a></li>
		      <li class="nav-item">
            <a class="nav-link" href="/therapy">Therapy</a></li>
            <a class="nav-link" href="/rooms/">Video Call</a></li>
		      <%}%>
		  	</ul>
		  	<ul class="navbar-nav navbar-right">
		      <%if (typeof user != 'undefined'){%>
		      <li class="nav-item">
		      	<a class="nav-link" href="/users/account">Settings</a></li>
		      	<li class="nav-item">
		      	<a class = "nav-link" href="/users/logout">Logout</a></li>
		      <%}else{%>
		      <li class="nav-item">
		        <a class="nav-link " href="/users/register">Register</a>
		      </li>
		     <li class="nav-item">
		        <a class="nav-link" href="/users/login">Login</a>
		      </li>
		      <%}%>
		    </ul>
		  </div>
		</nav>
		<div class="container">
			<%- messages('message', locals) %>
		<% if(typeof errors != 'undefined'){%>
			<% errors.forEach(function (i) { %>
		    <div class="alert alert-danger"><%= i.msg %></div>
		  	<% }) %>
		<%}%>
		<div class="card2">
			<h1>Your Log</h1>
			<div>
				<a href="/users/log/relapse" class="btn btn-danger">Relapse</a>
				<h2><%=days%> days since last vape</h2>
			</div>
			<h4>Last vape date: <%=date.toLocaleString().split(',')[0]%></h4>
			<div>
				<h4>Last best record: <%=longest%> days</h4>
			</div>
		</div>
		<div class="card2">
			<h2>Log Entries:<h2>
			<a href="/users/log/add" class="btn btn-primary">Add Log</a>
			<br>
			<a href="/users/log/graph" class="btn btn-primary">Sentiment Graph</a>
				<ul>
					<br>
					<%log.logs.reverse().forEach(function(logEntry){%>
					<li class="list-group-item">
						<h4>Date: <%=logEntry.date.toLocaleString().split(',')[0]%></h2>
						<h4>Log: <%=logEntry.body%></h2>
					</li>
				<%})%>
				</ul>
		</div>
		</div>
</body>
</html>
